<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VSBlog</display-name>
  <!-- 配置UserServlet  -->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the description of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.violentstone.servlet.UserServlet.LoginServlet</servlet-class>
  </servlet>
  
  <!-- 配置BLogServlet  -->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the description of my J2EE component</display-name>
    <servlet-name>AddBlogServlet</servlet-name>
    <servlet-class>com.violentstone.servlet.BlogServlet.AddBlogServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the description of my J2EE component</display-name>
    <servlet-name>DelBlogServlet</servlet-name>
    <servlet-class>com.violentstone.servlet.BlogServlet.DelBlogServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the description of my J2EE component</display-name>
    <servlet-name>UpdateBlogServlet</servlet-name>
    <servlet-class>com.violentstone.servlet.BlogServlet.UpdateBlogServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the description of my J2EE component</display-name>
    <servlet-name>QueryBlogServlet</servlet-name>
    <servlet-class>com.violentstone.servlet.BlogServlet.QueryBlogServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the description of my J2EE component</display-name>
    <servlet-name>QueryAllBlogServlet</servlet-name>
    <servlet-class>com.violentstone.servlet.BlogServlet.QueryAllBlogServlet</servlet-class>
  </servlet>
  
  <!-- 配置ProjectServlet  -->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the description of my J2EE component</display-name>
    <servlet-name>AddProjectServlet</servlet-name>
    <servlet-class>com.violentstone.servlet.ProjectServlet.AddProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the description of my J2EE component</display-name>
    <servlet-name>DelProjectServlet</servlet-name>
    <servlet-class>com.violentstone.servlet.ProjectServlet.DelProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the description of my J2EE component</display-name>
    <servlet-name>UpdateProjectServlet</servlet-name>
    <servlet-class>com.violentstone.servlet.ProjectServlet.UpdateProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the description of my J2EE component</display-name>
    <servlet-name>QueryProjectServlet</servlet-name>
    <servlet-class>com.violentstone.servlet.ProjectServlet.QueryProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the description of my J2EE component</display-name>
    <servlet-name>QueryAllProjectServlet</servlet-name>
    <servlet-class>com.violentstone.servlet.ProjectServlet.QueryAllProjectServlet</servlet-class>
  </servlet>
  
  
  <!-- 配置UserServlet url-pattern -->
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <!-- 配置ProjectServlet url-pattern -->
  <servlet-mapping>
    <servlet-name>AddProjectServlet</servlet-name>
    <url-pattern>/AddProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelProjectServlet</servlet-name>
    <url-pattern>/DelProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProjectServlet</servlet-name>
    <url-pattern>/UpdateProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryProjectServlet</servlet-name>
    <url-pattern>/QueryProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAllProjectServlet</servlet-name>
    <url-pattern>/QueryAllProject</url-pattern>
  </servlet-mapping>
  
  <!-- 配置BlogServlet url-pattern -->
  <servlet-mapping>
    <servlet-name>AddBlogServlet</servlet-name>
    <url-pattern>/AddBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelBlogServlet</servlet-name>
    <url-pattern>/DelBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBlogServlet</servlet-name>
    <url-pattern>/UpdateBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryBlogServlet</servlet-name>
    <url-pattern>/QueryBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAllBlogServlet</servlet-name>
    <url-pattern>/QueryAllBlog</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>